<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file upload</title>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>
<body>
    <h1>Upload File</h1>
    <form action="../upload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="data" id="">
        <button type="submit">Upload</button>
    </form>
    {% for i in data %}
        <img src="{{i.document.url}}" class="image">
    {% endfor %}    
    </body>
</html>