<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../update" method="POST">
        {% csrf_token %}
        <input type="text" name="name" id="" value="{{emps.name}}" placeholder="Enter your content">
        <input type="text" name="email" id="" value="{{emps.email}}" placeholder="Enter your content">
        <button type="submit">update</button>
    </form>
</body>
</html>